@import "./utils/scss/_color";

body {
  font-family: Arial, Helvetica, sans-serif;

  font-size: 1rem;
  height: 100%;
  width: 100vw;
  $background-login: "https://getwallpapers.com/wallpaper/full/3/6/4/10443.jpg"; /* Track */
  ::-webkit-scrollbar-track {
    background: #ffffff;
    border-radius: 10px;
  }
}

body.dark-mode {
  $background-login: "http://getwallpapers.com/wallpaper/full/a/5/d/544750.jpg";
  background-color: $bg-dark-mode;
  color: $white-text;
  height: 100vh;
  max-height: 100vh;

  position: fixed;

  /* Track */
  ::-webkit-scrollbar-track {
    background: $bg-dark-mode;
    border-radius: 10px;
  }
}

/* width */
::-webkit-scrollbar {
  width: 5px;
}

// /* Handle */
// ::-webkit-scrollbar-thumb {
//   background: #ffffff;
//   border-radius: 10px;
// }

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(192, 192, 192);
  border-radius: 10px;
}

.App {
  width: 100%;
  height: 100%;
}
