@import "../../utils/scss/avatar.scss";
@import "../../utils/scss/scroll.scss";

.manage-main {
    z-index: 0;
    flex: 1;

    &___header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;

        &--avatar {
            margin-bottom: 0.5rem;

            position: relative;

            > img {
                width: 20%;
            }
            &___active-in {
                @include avatar(1rem, 1rem, 42%, 8%);
            }
        }

        &--active {
            font-size: 0.9rem;
            font-style: unset;
            opacity: 0.8;
        }
    }

    &___slide-list {
        &___custom-chat {
        }

        &--collapsible {
            &:hover {
                background-color: #ccc;
            }

            cursor: pointer;
            padding: 1rem;

            width: 100%;
            border: none;
            border-radius: 10px;
            text-align: left;
            outline: none;
            font-size: 15px;
        }
        &--content {
            padding: 0.5rem 0 1rem 1rem;
            overflow: hidden;

            &___item {
                display: flex;
                justify-content: flex-start;
                margin: 0.5rem 0 0.5rem 0;

                align-self: center;
                &--icon {
                    margin-right: 0.7rem;
                    width: 1.4rem;

                    font-size: 1.5rem;
                    align-self: center;
                }
                &--name {
                    align-self: center;
                }
            }

            &___search {
                &--input {
                    width: 90%;
                    height: 2rem;
                    padding: 0.1rem 0 0.1rem 1rem;
                    background: #dfdfdf;

                    border-radius: 8px;
                    border: none;
                    font-size: 14px;

                    ::placeholder {
                        text-align: center;
                    }

                    :focus::placeholder {
                        text-align: left;
                    }
                }
            }

            &___people-list {
                overflow: scroll;

                max-height: 50vh;

                &--user {
                    display: flex;
                    position: relative;
                    margin-top: 0.1rem;

                    &___avatar {
                        > img {
                            width: 2.6rem;
                            border-radius: 100%;
                        }

                        &--active {
                            @include avatar(0.7rem, 0.7rem, 90%, 9%);
                        }
                    }

                    &___name {
                        align-self: center;
                        margin-left: 1rem;

                        font-size: 1.1rem;

                        overflow: hidden;
                    }
                }
            }

            &___photo-list {
                display: flex;
                flex-direction: row;
                flex-wrap: wrap;
                max-height: 60vh;
                overflow: scroll;

                &--image {
                    margin: 1%;
                    > img {
                        width: 100%;
                        height: 100%;
                        object-fit: contain;

                      
                    }
                }
            }
        }

        &--active {
            display: block;
        }
        &--hidden {
            display: none;
        }
    }
}

.manage-main___slide-list--content:hover {
    ::-webkit-scrollbar-thumb {
        background: rgb(192, 192, 192);
        border-radius: 10px;
    }
}
