@import "../../utils/scss/color";
@import "../../utils/scss/avatar";
@import "../../utils/scss/scroll";

.message-box {
    border-right: 1px solid $border-layout;

    display: flex;
    flex-direction: column;

    width: 51%;

    z-index: 10;

    &___header {
        max-height: 4rem;
        border-top: 1px solid $border-layout;
        border-bottom: 1px solid $border-layout;

        padding: 0.7rem;

        &___information {
            display: flex;
            justify-content: flex-start;

            &--image {
                position: relative;

                > img {
                    width: 2.7rem;
                    height: auto;
                    border-radius: 100%;
                }
                &___active {
                    @include avatar(0.8rem, 0.8rem, 2%, 13%);
                }
            }

            &--summary {
                margin-top: 0.7%;
                margin-left: 1.5%;

                &___active {
                    margin-top: 1px;

                    font-size: 0.9rem;
                    font-style: unset;
                    opacity: 0.8;
                }
            }
        }
    }

    &___box {
        &:hover {
            @include scroll();
        }

        padding: 1rem;
        height: 75vh;

        overflow: auto;

        &--sender {
            margin-left: auto;
            width: fit-content;

            padding: 1rem;
            background-color: #1877F2;
            color: #ffffff;
            border-radius: 10px;
            max-width: 60%;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        &--receiver {
            margin-right: auto;
            width: fit-content;

            padding: 1rem;
            background-color: #8D949E;
            border-radius: 10px;
            max-width: 60%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
    }

    &___chat-box {
       

        display: flex;
        justify-content: flex-start;
        padding-top: 1rem;

        &___icon-list {
            &--icon {
                width: 1.5rem;
                margin-left: 0.5rem;
            }
        }

        &___search {

            margin-left: 1rem;
            display: inline;
            width: 80%;
           
            &--input {
               width: -webkit-fill-available;
                background: #bebebe;
                padding: 0.5rem 0.6rem;
                
                border-radius: 10px;
                border: none;
                font-size: 14px;

                ::placeholder {
                    text-align: center;
                }

                :focus::placeholder {
                    text-align: left;
                }
            }
        }

        &___submit {
            flex: 1;
            align-self: center;
            display: flex;
            justify-content: center;
            &--image {
                width: 1.7rem;
             
            }
        }
    }
}
