@import "../../utils/scss/color";
@import "../../utils/scss/avatar";

.message-box {
    border-right: 1px solid $border-layout;

    display: flex;
    flex-direction: column;
    
    width: 50%;
    padding-top: 2rem;
 
    z-index: 10;

    &___header {
        max-height: 4rem;
        border-top: 1px solid $border-layout;
        border-bottom: 1px solid $border-layout;

        padding: 0.7rem;

        &___information {
            display: flex;
            justify-content: flex-start;

            &--image {
                position: relative;

                > img {
                    width: 2.7rem;
                    height: auto;
                    border-radius: 100%;
                }
                &___active {
                    @include avatar(0.8rem, 0.8rem, 2%, 13%);
                }
            }

            &--summary {
                margin-top: 0.7%;
                margin-left: 1.5%;

                &___active {
                    margin-top: 1px;

                    font-size: 0.9rem;
                    font-style: unset;
                    opacity: 0.8;
                }
            }
        }
    }

    &___box {
        padding: 1rem;
        height: 76%;

        &--sender {
            display: flex;
            align-self: flex-end;

            padding: 1rem;
            background-color: rgb(143, 143, 143);
            border-radius: 10px;
            max-width: 70%;
            margin-top: 1%;
            margin-bottom: 1%;
        }

        &--receiver {
            display: flex;
            

            padding: 1rem;
            background-color: rgb(143, 143, 143);
            border-radius: 10px;
            max-width: 70%;
            margin-top: 1%;
            margin-bottom: 1%;
        }
    }

    &___chat-box {
        flex: 1;
        height: 100%;
        background-color: red;
    }
}
