$bg-dark-mode: #1c1e21;
$grey-dark-mode: rgba(109, 109, 109, 0.712);
$scroll-light-mode:rgb(192, 192, 192);
$white-text: #fff;
$primary: rgb(0, 132, 255);
$white-text-message: #8f8e8e;
$border-layout:#a7a7a7;



$background-login: "https://getwallpapers.com/wallpaper/full/3/6/4/10443.jpg"

