// States
$custom-radio-unchecked-bg: white;
$custom-radio-pip-color: dodgerblue;
$custom-radio-checked-bg: mix($custom-radio-unchecked-bg, $custom-radio-pip-color, 60%);
$custom-radio-checked-border: $custom-radio-pip-color;

.radio-form {
    display: flex;
    justify-content: space-between;
    flex: 1;

    &___button {
        padding: 0.5rem;
        border: 1px solid #d4d4d4;
        border-radius: 2px;
        width: (100% / 3 - 4%);

        background: white;

        input[type="radio"] {
            border: 0px;
            cursor: pointer;
            -ms-transform: scale(1.5); /* IE 9 */
            -webkit-transform: scale(1.5); /* Chrome, Safari, Opera */
            transform: scale(1.5);
            margin-right: 0.5rem;
            background: $custom-radio-checked-bg;
            border-color: $custom-radio-checked-border;
        }
        > span {
            color: black !important;
        }
    }
}
